# Data Science Tools and Ecosystem

This notebook will be used to summarize Data Science tools and ecosystems.

**Objectives:**
- List most common languages in data science
- List most popular libraries
- List common developing environments
- Complete simple arithmetic operations

Some of the most common languages used in data science are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the most popular libraries in data science include:
1. Pandas
2. NumPy
3. SciPy
4. TensorFlow
5. Ggplot

|Data Science Tools|
|------------------|
|RStudio|
|VisualStudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# simple arithmetic operation including multiplication and addition. 

(3*4)+5

17

In [19]:
# operation transforming minutes to hours.

minutes = 200

hours = minutes // 60

print("hours in 200 min:",hours)

hours in 200 min: 3

## Author:
Valentina Parraga